.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
coverage/
*.iml
.idea/
.vscode/
**/Generated.xcconfig
**/Pods/
android/.gradle/
android/local.properties
ios/.symlinks/
ios/Pods/
*.jks
*.keystore
android/key.properties
android/keystore/
ios/ExportOptions.plist
ios/Runner/GoogleService-Info.plist
android/app/google-services.json
fastlane/report.xml
fastlane/Preview.html
fastlane/test_output/
